<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="XMLFilePath" value="C:\\Projetos\\WebRequestAPIProfiler\\WebRequestAPIProfiler\\XML\\BankDeposit_Airbnb_Brazil.xml"/>-->
    <add key="XMLFilePath" value="C:\\Projetos\\WebRequestAPIProfiler\\WebRequestAPIProfiler\\XML\\test.xml"/>
    
    <add key="RequestURL" value="http://localhost:1818/mts.asmx?"/>
    <add key="timesToRun" value="10"/>
    
  </appSettings>
</configuration>