<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>    
    <add name="PontualDbConnection" connectionString="workstation id=rbs;packet size=4096;data source=10.77.89.13;persist security info=False;initial catalog=PTest02;user id=sa;password=Chave2Server;" providerName="System.Data.SqlClient" />    
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="mtsSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://test.pontualmt.net:8080/PontualAPI/mts.asmx"
                binding="basicHttpBinding" bindingConfiguration="mtsSoap"
                contract="OrderAPI.mtsSoap" name="mtsSoap" />
        </client>
    </system.serviceModel>
  
  <appSettings>    
    <add key="DataInicioProcessamento" value="2018-09-01"/>
    <add key="DataFimProcessamento" value="2018-09-10"/>
    <add key="DoubleOrderListNumber" value="4"/>
  </appSettings>
</configuration>